In [4]:
import pandas as pd

# Load dataset
df = pd.read_csv("netflix_titles.csv")


# 6 Which rating is most common?

most_common_rating = df['rating'].mode()[0]
print("6) Most common rating:", most_common_rating)

6) Most common rating: TV-MA

In [5]:
#7
df_genre = df.copy()
df_genre['listed_in'] = df_genre['listed_in'].fillna('')
df_genre['Genre'] = df_genre['listed_in'].str.split(', ')
df_genre = df_genre.explode('Genre')

country_filtered = df_genre[df_genre['country'].isin(['India', 'United States'])]

dominant_genre = (
    country_filtered
    .groupby(['country', 'Genre'])
    .size()
    .reset_index(name='count')
)

result_7 = dominant_genre.loc[dominant_genre.groupby('country')['count'].idxmax()]
print("\n7) Dominant genre by country:\n", result_7)

7) Dominant genre by country:
           country                 Genre  count
12          India  International Movies    505
44  United States                Dramas    276

In [6]:
# 8 Top 10 directors with most titles

top_directors = (
    df['director']
    .dropna()
    .value_counts()
    .head(10)
)
print("\n8) Top 10 directors:\n", top_directors)

8) Top 10 directors:
 director
Rajiv Chilaka             17
Suhas Kadav               15
Raúl Campos, Jan Suter    14
Marcus Raboy              13
Youssef Chahine           12
Cathy Garcia-Molina       12
Jay Chapman                9
Fernando Ayllón            8
Don Michael Paul           8
Hidenori Inoue             7
Name: count, dtype: int64

In [10]:

# 12 Compare content count before 2016 vs after

before_2016 = df[df['release_year'] < 2016].shape[0]
after_2016 = df[df['release_year'] >= 2016].shape[0]
print("\n12) Content count:")
print("Before 2016:", before_2016)
print("After 2016:", after_2016)

12) Content count:
Before 2016: 1266
After 2016: 4131

In [11]:

# 13 Calculate growth percentage

growth_percentage = ((after_2016 - before_2016) / before_2016) * 100
print("\n13) Growth percentage:", round(growth_percentage, 2), "%")

13) Growth percentage: 226.3 %

In [16]:
# 14 Average duration of movies vs TV shows

movies_duration = (
    df[df['type'] == 'Movie']['duration']
    .str.replace(' min', '', regex=False)
    .dropna()
    .astype(int)
    .mean()
)

tv_duration = (
    df[df['type'] == 'TV Show']['duration']
    .str.replace(' Seasons', '', regex=False)
    .str.replace(' Season', '', regex=False)
    .dropna()
    .astype(int)
    .mean()
)

print("\n14) Average duration:")
print("Movies (minutes):", round(movies_duration, 2))
print("TV Shows (seasons):", round(tv_duration, 2))

14) Average duration:
Movies (minutes): 100.39
TV Shows (seasons): 1.79

In [15]:

# 15 Which month does Netflix add more content?

df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')
most_common_month = df['date_added'].dt.month_name().value_counts().idxmax()
print("\n15) Month with most content added:", most_common_month)

15) Month with most content added: July