In [1]:
# CLASS 1 - PYTHON BASICS
# -----------------------------

# Printing text
print("Welcome to the class Sunaina")

# This prints the string "2+2"
print("2+9")

# This prints the actual addition result
print(2 + 9)

Welcome to the class Sunaina
2+9
11

In [3]:
# Variables
number = 90
print(number)
print(type(number))

name="Sunaina"
print(name)
print(type(name))

sal=20000.901
print(sal)
print(type(sal))

c=90+8j
print(c)
print(type(c))

90
<class 'int'>
Sunaina
<class 'str'>
20000.901
<class 'float'>
(90+8j)
<class 'complex'>

In [4]:
num1 = 24
num2 = 2

print(num1 + num2)   # Addition
print(num1 - num2)   # Subtraction
print(num1 % num2)   # Modulus (remainder)
print(num1 / num2)   # Division (float result)
print(num1 // num2)  # Floor division
print(num1 * num2)   # Multiplication

26
22
0
12.0
12
48

In [5]:
# String concatenation

fName = "Sunaina"
lName = "A G"
print(fName+' '+lName)

# Float data type

num1 = 81.990
num2 = 199.89
print(num1 + num2)

Sunaina A G
281.88

In [6]:
# Taking integer input
# -----------------------------

num1 = int(input("Enter number 1: "))
num2 = int(input("Enter number 2: "))

print(num1 + num2)
print(num1 - num2)
print(num1 % num2)
print(num1 / num2)
print(num1 // num2)
print(num1 * num2)


# Taking float input
# -----------------------------

num1 = float(input("Enter number 1: "))
num2 = float(input("Enter number 2: "))

print(num1 + num2)
print(num1 - num2)
print(num1 % num2)
print(num1 / num2)
print(num1 // num2)
print(num1 * num2)

Enter number 1: 20
Enter number 2: 10
30
10
0
2.0
2
200
Enter number 1: 20.1
Enter number 2: 10.9
31.0
9.200000000000001
9.200000000000001
1.8440366972477065
1.0
219.09000000000003

In [7]:
# Boolean values
# -----------------------------

a = 8
b = 5
print(a > b)
print(a >= b)
print(a <= b)
print(a < b)
print(a == b)
print(a != b)

True
True
False
False
False
True

In [8]:
a = 8
b = "s"
print(a * b)

ssssssss

In [9]:
i={2,3,4}
o={2,9,3}
print(i | o)

{2, 3, 4, 9}

In [10]:
# Relational operators
# -----------------------------

a = 8
b = 9

print(a * b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a == b)
print(a != b)

72
False
True
False
True
False
True

In [11]:
# Simple if-else

if a > b:
    print("a is greater than b")
else:
    print("b is greater")

b is greater

In [12]:
# Greatest among 3 numbers (nested if)

a = 90
b = 89
c = 67

if a > b:
    if a > c:
        print("a is greatest")
    else:
        print("c is greatest")
else:
    if b > c:
        print("b is greatest")
    else:
        print("c is greatest")

a is greatest

In [13]:
# Even or Odd
a=19
if a % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Odd number

In [14]:
# Positive, Negative, or Zero

if a == 0:
    print("Zero")
elif a > 0:
    print("Positive")
else:
    print("Negative")

Positive

In [15]:
# CLASS 2 â€“ Rock Paper Scissors

import random

print("Welcome to Rock Paper Scissors")

while True:
    user = input("Type rock/paper/scissors (or exit): ")

    if user == "exit":
        break

    if user not in ["rock", "paper", "scissors"]:
        print("Invalid input. Try again.")
        continue

    computer = random.choice(["rock", "paper", "scissors"])

    print("You chose:", user)
    print("Computer chose:", computer)

    if user == computer:
        print("Draw")
    elif (user == "rock" and computer == "scissors") or \
         (user == "paper" and computer == "rock") or \
         (user == "scissors" and computer == "paper"):
        print("You win")
    else:
        print("Computer wins")

Welcome to Rock Paper Scissors
Type rock/paper/scissors (or exit): rock
You chose: rock
Computer chose: scissors
You win
Type rock/paper/scissors (or exit): paper
You chose: paper
Computer chose: scissors
Computer wins
Type rock/paper/scissors (or exit): scissors
You chose: scissors
Computer chose: rock
Computer wins
Type rock/paper/scissors (or exit): exit

In [16]:

def monkey_trouble(a_smile, b_smile):
    return a_smile == b_smile


def sum_double(a, b):
    if a == b:
        return (a + b) * 2
    return a + b


def diff21(n):
    if n > 21:
        return (n - 21) * 2
    return 21 - n


def makes10(a, b):
    return a == 10 or b == 10 or (a + b) == 10


def near_hundred(n):
    return abs(n - 100) <= 10 or abs(n - 200) <= 10


def not_string(s):
    if s.startswith("not"):
        return s
    return "not " + s


def missing_char(s, n):
    return s[:n] + s[n+1:]

In [17]:
# Exchange first and last characters
def front_back(s):
    if len(s) <= 1:
        return s
    return s[-1] + s[1:-1] + s[0]


# Repeat first 3 characters 3 times
def front3(s):
    return s[:3] * 3

In [18]:
my_list = [2, 3, 4, 5, 6, 7, 8]
print(my_list)

# Add element
new_value = int(input("Enter value to add: "))
my_list.append(new_value)
print("Updated list:", my_list)

# Remove element
remove_item = int(input("Enter value to remove: "))
if remove_item in my_list:
    my_list.remove(remove_item)
    print("Updated list:", my_list)
else:
    print("Value not found")

# Search element
search = int(input("Enter value to search: "))
if search in my_list:
    print("Value found")
else:
    print("Value not found")

[2, 3, 4, 5, 6, 7, 8]
Enter value to add: 70
Updated list: [2, 3, 4, 5, 6, 7, 8, 70]
Enter value to remove: 7
Updated list: [2, 3, 4, 5, 6, 8, 70]
Enter value to search: 6
Value found

In [21]:
my_list = []

print("Welcome to List Manager")
print("1.ADD\n2.REMOVE\n3.REPLACE\n4.VIEW\n5.EXIT")

while True:
    choice = int(input("ENTER UR CHOICE"))

    if choice == 1:
        count = int(input("How many elements? "))
        for i in range(count):
            value = int(input("Enter value: "))
            my_list.append(value)
        print("Updated list:", my_list)

    elif choice == 2:
        value = int(input("Enter value to remove: "))
        if value in my_list:
            my_list.remove(value)
            print("Updated list:", my_list)
        else:
            print("Value not found")

    elif choice == 3:
        old = int(input("Enter old value: "))
        if old in my_list:
            new = int(input("Enter new value: "))
            index = my_list.index(old)
            my_list[index] = new
            print("Updated list:", my_list)
        else:
            print("Value not found")

    elif choice == 4:
        print("Current list:", my_list)

    elif choice == 5:
        print("Program ended")
        break

    else:
        print("Invalid option")

Welcome to List Manager
1.ADD
2.REMOVE
3.REPLACE
4.VIEW
5.EXIT
ENTER UR CHOICE 1
How many elements? 2
Enter value: 10
Enter value: 20
Updated list: [10, 20]
ENTER UR CHOICE2
Enter value to remove: 1
Value not found
ENTER UR CHOICE2
Enter value to remove: 10
Updated list: [20]
ENTER UR CHOICE4
Current list: [20]
ENTER UR CHOICE5
Program ended

In [22]:
n=input()
l=len(n)
l1=n[:l//2]
print(l1)

Sunaina
Sun

In [23]:
n=list(range(1,20))
le=len(n)
print(n)
z=n[:le//2]
print(z)

z=n[le//2:]
print(z)

z=n[:le//2:-1]
print(z)

z=n[le//2::-1]
print(z)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[19, 18, 17, 16, 15, 14, 13, 12, 11]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [24]:

z=list(range(-1,-101,-1))
print(z)

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -11, -12, -13, -14, -15, -16, -17, -18, -19, -20, -21, -22, -23, -24, -25, -26, -27, -28, -29, -30, -31, -32, -33, -34, -35, -36, -37, -38, -39, -40, -41, -42, -43, -44, -45, -46, -47, -48, -49, -50, -51, -52, -53, -54, -55, -56, -57, -58, -59, -60, -61, -62, -63, -64, -65, -66, -67, -68, -69, -70, -71, -72, -73, -74, -75, -76, -77, -78, -79, -80, -81, -82, -83, -84, -85, -86, -87, -88, -89, -90, -91, -92, -93, -94, -95, -96, -97, -98, -99, -100]